.bg-restaurant {
    background-image: url('https://i.imgur.com/OuYZFeH.png');
    background-size: cover;
    background-position: center;
}

.container-fluid {
    overflow: hidden;
}

.outfit-default {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: 100px;
    font-style: normal;
}

.kaushan-default {
    font-family: "Kaushan Script", cursive;
    font-weight: 700;
    font-style: normal;
}

.header {
    font-size: 7vw;
}

.header-2 {
    font-size: 6vw;
}

.description {
    font-size: 17px;
}

.bg-item {
    background-color: rgba(87, 7, 0, 0.8);
}

@media (min-width: 576px) {
    .font-main {
        font-size: 3vw;
    }
}

.fade-in {
    animation: fadeInAnimation 1s ease-in-out forwards;
}

.fade-out {
    animation: fadeOutAnimation 1s ease-in-out forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#food-image-duplicate {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -100%;
    opacity: 0;
}
